@media screen and (max-width: 1350px) {
    #splash {
        background-size: 1350px auto;
        height: 670px;
    }

    .welcome {
        margin-top: 210px;
    }
}

@media screen and (max-width: 1090px) {
    .content, .overlay .content {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        min-width: 0;
    }

    #splash .content {
        padding-left: 10%;
        padding-right: 10%;
    }

    #devHeading {
        text-align: center;
    }

    .imgwrapper {
        width: 48.7%;
    }
}

@media screen and (max-width: 700px) {
    .imgwrapper {
        width: 100%;
    }

    img.profile {
        width: 250px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #development {
        margin: 0 0 20px;
    }

    #devHeading {
        font-size: 2.4em;
        margin-top: 5px;
    }

    #about-info {
        width: 100%;
        text-align: center;
    }

    #work .content {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* iPhone */
@media screen and (max-width: 550px) {
    .navbar .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation {
        float: none;
        margin-top: 0;
        max-height: 0;
        padding: 0;
        transition: all 0.5s ease;    
    }

    .navigation * {
        opacity: 0 !important;
        transition: opacity 0.3s ease !important;
    }

    .navigation.dropdown {
        padding: 12px 0;
        max-height: 187px;
        border-top: 1px solid #824b3a;
    }

    .navigation.dropdown * {
        opacity: 1 !important;
    }    

    .navbar-bar {
        display: block;
    }

    .navigation a {
        display: block;
        margin: 0;
        padding: 9px 0;
        font-size: 18px;
    }

    .hamburger {
        display: inline-block;
    }

    #about-info p {
        text-align: justify;
    }

    .welcome, .projectHeading {
        font-size: 2.7em;
    }

    .blurb {
        font-size: 1em;
    }

    .icon img {
        display: block;
        width: 40px;
    }

    #footer .content {
        padding: 15px;
    }

    .projectHeading {
        font-size: 2.5em;
    }

    .cancel {
        height: 35px;
    }
}