html {
    background-color: transparent;
    background-image: url('../media/coralreef.jpg');
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

body {
    color: #ffffff;
    font-family: 'Muli', Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    opacity: 0.8;
    margin-top: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2em;
}

#title {
    margin-top: 0.67em;
    margin-bottom: 0;
    line-height: 1em;
}

#subtitle {
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 1.8em;
}

#blurbbox {
    width: 580px;
    margin: auto;
}

#blurb {
    line-height: 1.4em;
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2.7px solid #ffffff;
}

a:hover {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

div.wrapper {
    width: 100%;
}

div.content {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    margin: auto;
    width: 65%;
    min-width: 900px;
}

#logo {
    display: block;
    margin: auto;
}

.centered {
    text-align: center;
}

#midwrapper {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -280px;
}

#midcontent {
    padding: 0;
    height: 560px;   
}

ul#navigation {
    padding: 0;
    text-align: center;
    font-size: 1.1em;
}

ul#navigation li {
    display: inline;
    list-style-type: none;
    margin-left: 8px;
    margin-right: 8px;
}

ul#navigation li a {
    border-bottom: 0;
}

ul#navigation li a#current {
    border-bottom: 2.7px solid #ffffff;
}

ul#navigation li a#current:hover {
    cursor: default;
}

ul#navigation li a:hover {
    border-bottom: 2.7px solid #ffffff;
    transition: border-bottom 0.2s linear;
    opacity: 1.0;
}

#resume {
    margin-top: 15px;
    opacity: 0.80;
}

#download {
    display: inline-block;
    text-align: center;
}

.heading {
    margin-bottom: 0.1em;
}

.preview:hover {
    cursor: pointer;
    opacity: 0.45;
    transition: opacity 0.2s linear;
}

.design {
    margin-top: 1.5em;
}