body {
    font-family: 'Muli', Verdana, sans-serif;
    margin: 0;
    color: #6e2b34;
}

h1, h2, h3, h4 {
    color: #824b3a;
    font-family: 'baron_neueregular';
}

h1 {
    font-size: 3em;
}

.subtitle {
    font-size: 1.3em;
}

.wrapper {
    width: 100%;
}

.content {
    margin: auto;
    width: 1000px;
    padding: 20px 20px 20px 20px;
}

.auto {
    position: relative;
    height: 0;
    padding-bottom: 60.25%;
    z-index: 1;    
}

#splash {
    background-color: transparent;
    background-image: url('../media/sunflower_splash.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    height: 50px;
    width: 100%;
    z-index: 2;
}

.navbar .content {
    width: 1000px;
    padding-top: 0;
    padding-bottom: 0;
}

nav.navigation {
    float: right;
    margin-top: 20px;
}

nav.navigation a {
    color: #6e2b34;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin: 0px 12px 0px 12px;
    transition: 0.3s ease all;
}

nav.navigation a:hover {
    color: #479e5d;
}

.last {
    margin-right: 0 !important;
}

#name {
    color: #824b3a;
    display: inline;
    font-size: 1.6em;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}